
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.logo-box{
    text-align: center;
    padding: 15% 0px 15% 0px;   
}


.btn-box{
    text-align: center;
}

.button{
    margin-top: 60px;
    border-radius: 20px;
    background-color: #2ebd59;
}
.btn-box .button{
    transition: all 300ms linear;

}
.btn-box .button:hover{
    color:#f00;
    background-color: #fff;
    border: 1px solid #f00;
}
#firebaseui-auth-container{
    text-align: center;
    
}

/* spognufy2 */
.music-box1{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}
.music-minibox1{
    display: flex;
    flex-direction: column;
}
.music-minibox2{
    display: flex;
    flex-direction: column;
}
.music-minibox3{
    display: flex;
    flex-direction: column;
}
.music-box2{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
    margin-bottom: 70px;
}
.music-minibox4{
    display: flex;
    flex-direction: column;
    object-fit: cover;
}
.music-minibox5{
    display: flex;
    flex-direction: column;
}
.music-minibox6{
    display: flex;
    flex-direction: column;
}
.newbox{
    margin: 0 auto;
    text-align: center;
    width: 250px;
}
.playbutton{
    margin-left: 75px;
    margin-top: 0px;
}
.img{
    height: 300px;
}
.contents{
    display: flex;
    justify-content:space-around;
}
h1{
    margin-left: 70px;
    margin-bottom: 40px;
}
footer{
    margin-top: 100px;
    display: flex;
    justify-content:space-around;
    border-top:solid  #333333;
}

/* ここからmusicminibox */
.main{
    width: 40%;
    margin: 0px auto 0 auto;
    color: white; 
    background-color: teal;
}
.img-box{
    text-align: center;
}
.imgimg{
    margin-top: 15px;
}
.text1{
    font-size: 40px;
    margin:0;
}
.text2{
    margin: 0;
    font-size: 18px;
}
.btn-logo-box{
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    width: 80%;
    margin: 0 auto;
}
#btn1{
    margin-right: 30px;
}
.repeat{
  text-align: right;  
  width: 90%;
}
.llick{
    font-size: 25px;
}
ul li.remove span {
    color: #F00;
    
}

li {
    list-style: none;
    text-align: right;
    margin-right: 20px;
}
span{
    font-size: 30px;
}
.btn-box2{
    text-align: center;

}
.backbutton{
    font-size: 20px;
    background-color: yellow;
}
#time {
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#current {
  font-size: 20px;
}
#duration {
  font-size: 20px;
}
#seekbar {
  width: 90%;
  height: 10px;
  margin: 1em;
  border-radius: 5px;
  background: linear-gradient(white,white) no-repeat #ccc;
}